# NYC Parking Violations - Vehicle Color Standardization - Large Dataset Exmaple

This notebook contains examples to demonstrate data cleaning funcitonality in [openclean](https://github.com/VIDA-NYU/openclean) using a large dataset.

*Dataset*. The dataset that is used in this examples is the [NYC Parking Violations Issued - Fiscal Year 2014](https://data.cityofnewyork.us/City-Government/Parking-Violations-Issued-Fiscal-Year-2014/jt7v-77mi) dataset that contains violations issued during the respective fiscal year. The dataset is available for download via the [Socrata Open Data API](https://dev.socrata.com/). The 2014 parking violations dataset contains over 9 million rows and the data file is about 380 MB in size.

In this example we use a subset of the dataset containing five columns and about 8 million rows. We look at the problem of standardizing the values in the *Vehicle Color* column.

## Download Dataset

In [1]:
# Download the full 'NYC Parking Violations Issued - Fiscal Year 2014' dataset.
# Note that the downloaded full dataset file is about 380 MB in size! Use the
# alternative data file with 10,000 rows that is included in the repository if
# you do not want to download the full data file.

import gzip
import humanfriendly
import os

from openclean.data.source.socrata import Socrata

dataset = Socrata().dataset('jt7v-77mi')

# By default, this example uses a small sample of the full dataset that
# is included in the 'data' subfolder within this repository.
#datafile = './data/jt7v-77mi.tsv.gz'

# Remove the comment for this line if you want to use the full dataset.
datafile = './jt7v-77mi.tsv.gz'


# Download file only if it does not exist already.
if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as f:
        print('Downloading ...\n')
        dataset.write(f)


fsize = humanfriendly.format_size(os.stat(datafile).st_size)
print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

Using 'Parking Violations Issued - Fiscal Year 2014' in file ./jt7v-77mi.tsv.gz of size 379.19 MB

## Load Dataset

Load initial snapshot of the dataset into a persistent database manager. The snapshot for this example contains a subset of the columns from the original dataset.

In [2]:
# Due to the size of the full dataset file, we make use of openclean's
# stream operator to avoid having to load the dataset into main-memory.

from openclean.function.eval.base import Col
from openclean.function.eval.logic import And
from openclean.function.eval.null import IsNotEmpty
from openclean.pipeline import stream

data = stream(datafile)\
    .select(['Plate ID', 'Registration State', 'Plate Type', 'Violation Code', 'Vehicle Color'])\
    .rename('Registration State', 'State')\
    .where(And(IsNotEmpty('Vehicle Color'), Col('State') != '99', Col('Plate ID') != '999'))\
    .update('Vehicle Color', str.upper)

In [7]:
# Count number of rows. This will also give us an idea for how
# long it takes to scan the input document.

import time

start_scan = time.perf_counter()

rows = data.count()

end_scan = time.perf_counter()

print('Scan time {:0.4f} sec. for {} rows.'.format((end_scan - start_scan), rows))

8993835
Load time 118.9831 sec.

In [3]:
# Create a database object that materializes the dataset and
# all provenance information in a folder on the local file system.

from openclean.engine.base import DB

db = DB(basedir='.openclean', create=True)

In [4]:
# Load snapshot into database.

import time

start_load = time.perf_counter()

db.load_dataset(source=data, name='vehicle_data')

end_load = time.perf_counter()

print('Load time {:0.4f} sec.'.format(end_load - start_load))

Load time 429.7888 sec.

In [5]:
# Print the first ten rows of the dataset to get a first
# idea of the content.

db.stream('vehicle_data').head()

  Plate ID State Plate Type Violation Code Vehicle Color
0  FCJ5493    NY        PAS             20         BLACK
1  63540MC    NY        COM             46           BRN
2  GCY4187    NY        SRF             21          BLUE
3  95V6675    TX        PAS             21         SILVR
4  FYM5117    NY        SRF             21         WHITE
5  GFM1421    NY        PAS             40           BLK
6  18972BB    NY        999             14         YELLO
7  WNJ4730    VA        PAS             14           BLK
8  68091JZ    NY        COM             46            WH
9  EWV4127    NY        PAS             21          GREY

In [8]:
# Count number of rows in the archive. This will give us an idea for
# how long it takes to scan the archive.

import time

start_scan = time.perf_counter()

rows = db.stream('vehicle_data').count()

end_scan = time.perf_counter()

print('Scan time {:0.4f} sec. for {} rows.'.format((end_scan - start_scan), rows))

Scan time 246.4122 sec. for 8993835 rows.

## Vehicle Color - Using Functional Dependencies to assist with data standardization


We make use of the fact that 'Plate ID' and 'Registration State' uniquely identify a vehicle. For each vehicle we make the assumption that the color doesn't change within the one year of data that we are looking at here. Thus, the functional dependency 'Plate ID', 'Registration State' -> 'Vehicle Color'. should hold. Violations of that dependency point to different representations of the same color value.

In [1]:
# Open instance for existing database object that maintains the
# dataset and all provenance information.

from openclean.engine.base import DB

db = DB(basedir='.openclean', create=False)

In [10]:
# Create data stream for first dataset snapshot that was commited
# to the database.

ds = db.stream(name='vehicle_data', version=0)

In [8]:
# Get summary of conflicting values in the 'Vehicle Color' attribute.
# The Plate ID and Registration State should identify a vehicle uniquely. We use
# this key to find conflicts in the 'Vehicle Color' column.

from openclean.operator.map.violations import fd_violations

df = ds\
    .select(['Plate ID', 'State', 'Vehicle Color'])\
    .to_df()

groups = fd_violations(df, lhs=['Plate ID', 'State'], rhs='Vehicle Color')
conflicts = groups.summarize_conflicts('Vehicle Color')

In [9]:
# Print summary for conflicting values.

conflicts.most_common(50)

[('GY', 170831),
 ('BLACK', 157776),
 ('GREY', 148847),
 ('WHITE', 135127),
 ('BK', 134722),
 ('WH', 122401),
 ('SILVE', 108223),
 ('BLUE', 79173),
 ('BL', 64820),
 ('OTHER', 52313),
 ('RED', 46660),
 ('BLK', 41022),
 ('GRAY', 38376),
 ('RD', 38226),
 ('TAN', 35244),
 ('GREEN', 34815),
 ('GR', 32131),
 ('GOLD', 24429),
 ('TN', 21603),
 ('WHT', 19089),
 ('GRY', 18118),
 ('BROWN', 15000),
 ('YELLO', 11518),
 ('BR', 10562),
 ('YW', 9421),
 ('GL', 8567),
 ('WT', 7496),
 ('MR', 5054),
 ('BLU', 4017),
 ('GRN', 3974),
 ('PURPL', 3932),
 ('SIL', 3596),
 ('SL', 3235),
 ('SILVR', 2822),
 ('ORANG', 2577),
 ('WHI', 2490),
 ('GN', 2441),
 ('LTG', 2344),
 ('SILV', 1972),
 ('BRN', 1958),
 ('LT/', 1834),
 ('DK/', 1393),
 ('OR', 1251),
 ('LTGY', 1124),
 ('BN', 1108),
 ('MAROO', 1100),
 ('DKG', 1097),
 ('BEIGE', 1091),
 ('LAVEN', 1090),
 ('W', 991)]

In [10]:
# Print list of values that occur in a conflict with 'BL'.

conflicts['BL']

ValueConflicts(count=64820, values=Counter({'BLUE': 44044, 'BLACK': 10480, 'BK': 4878, 'GREY': 4673, 'GY': 4020, 'OTHER': 3480, 'BLK': 2788, 'GREEN': 2324, 'BLU': 1813, 'SILVE': 1736, 'GRAY': 1357, 'WHITE': 1330, 'WH': 1296, 'GR': 1244, 'BROWN': 554, 'GRY': 540, 'RD': 495, 'RED': 471, 'BR': 456, 'TAN': 316, 'TN': 281, 'PURPL': 250, 'GRN': 228, 'GOLD': 221, 'BRN': 180, 'WHT': 170, 'GN': 149, 'BN': 139, 'GL': 103, 'BRWN': 93, 'MR': 86, 'BRW': 80, 'DKB': 73, 'BLGY': 65, 'WT': 59, 'ORANG': 54, 'DK/': 53, 'B': 50, 'YELLO': 50, 'BRO': 50, 'SILVR': 49, 'PR': 47, 'BWN': 45, 'SL': 44, 'SIL': 41, 'BW': 39, 'SILV': 39, 'YW': 37, 'DKBL': 37, 'LAVEN': 34, 'LTB': 33, 'G': 31, 'LT/': 30, 'BLBL': 30, 'LTG': 29, 'BROW': 28, 'BLGR': 27, 'OR': 27, 'MULTI': 24, 'BLE': 22, 'BLRD': 18, 'NAVY': 18, 'TEAL': 17, 'BLG': 17, 'BLCK': 15, 'MAROO': 14, 'BLTN': 13, 'BURG': 13, 'BL/': 13, 'BM': 12, 'DKG': 12, 'BL-GY': 12, 'LTGY': 11, 'BI': 11, 'BEIGE': 11, 'W': 10, 'BLV': 10, 'BRONW': 10, 'DKBLU': 10, 'LTBL': 10, 'WHI': 9, 'BIK': 9, 'SLVR': 9, 'BLIE': 8, 'SLV': 8, 'BU': 8, 'B LUE': 7, 'BRM': 7, 'BL-GR': 7, 'WHBL': 7, 'LT BL': 7, 'WH/BL': 7, 'LIGHT': 7, 'LTBLU': 7, 'BL/WH': 7, 'BE': 7, 'BL/GY': 6, 'DK BL': 6, 'WHIT': 6, 'DARK': 6, 'BL-RD': 6, 'MC': 5, 'GREN': 5, 'BKGY': 5, 'R': 5, 'WH/': 5, 'DKR': 5, 'PURP': 5, 'BX': 5, 'YEL': 5, 'BLW': 5, 'NAVYB': 5, 'BMW': 5, 'BL GY': 4, 'WHB': 4, 'WH BL': 4, 'BL WH': 4, 'BURGA': 4, 'BLGL': 4, 'GYGR': 4, 'NOC': 4, 'DBL': 4, 'BLBK': 4, 'PUR': 4, 'YELL': 4, 'BUE': 4, 'DBLUE': 4, 'BC': 4, 'BRON': 4, 'BLA': 4, 'BIU': 4, 'DKGY': 4, 'BURGU': 4, 'NOCL': 4, 'DARKB': 4, 'BKL': 3, 'BLAC': 3, 'SLVE': 3, 'BY': 3, 'BEN': 3, 'LTGR': 3, 'LIME': 3, 'DK-BL': 3, 'D BLU': 3, 'BUR': 3, 'GRE': 3, 'BUS': 3, 'BIE': 3, 'BLUE/': 3, 'BRWON': 3, 'VLUE': 3, 'MAR': 3, 'SIV': 3, 'BKG': 3, 'BIUE': 3, 'BLVD': 3, 'UNKNO': 3, 'BWR': 3, 'M': 3, 'GLD': 3, 'BLUR': 3, 'GYBL': 2, 'BLN': 2, 'MULIT': 2, 'B;': 2, 'BUG': 2, 'BLUWH': 2, 'BL-TN': 2, 'SLV/B': 2, 'DRK': 2, 'DR': 2, 'MULT': 2, 'WH-BL': 2, 'BWE': 2, 'VROWN': 2, 'BL/GR': 2, 'NR': 2, 'DKGR': 2, 'DRKBL': 2, 'UNK': 2, 'GY/BL': 2, 'DKP': 2, 'BK/WH': 2, 'BLWH': 2, 'GYB': 2, 'BKE': 2, 'WHTE': 2, 'BRK': 2, 'BLAKC': 2, 'SIVR': 2, 'SLIVE': 2, 'OTH': 2, 'BLEU': 2, 'SV': 2, 'BLUE`': 2, 'BLUEQ': 2, 'BO': 2, 'SLR': 2, 'WTE': 2, 'BLACJ': 2, 'S': 2, 'BKBL': 2, 'BL-BL': 2, 'BL-MR': 2, 'BLAK': 2, 'B L': 2, 'NLUE': 2, 'BOWN': 2, 'GR/': 2, 'WHIET': 2, 'B/W': 2, 'VAN': 2, 'WITE': 2, 'BULE': 2, 'D.BLU': 2, 'BLYE': 2, 'GRG': 2, 'DGR': 2, 'BLUEG': 1, 'BL SI': 1, 'FRE': 1, 'RUE': 1, 'LBL': 1, 'BLSL': 1, 'BNR': 1, 'GLEN': 1, 'GRW': 1, 'NISS': 1, 'BLR': 1, 'COR': 1, 'MUL': 1, 'S/BLU': 1, 'LN': 1, 'DKBK': 1, 'LT': 1, 'SLATE': 1, 'BLUW': 1, 'BRU': 1, 'VOLKS': 1, 'BIEGE': 1, 'GRAY/': 1, 'BRTOW': 1, 'GERY': 1, 'WHITT': 1, 'SUBN': 1, 'BKQ': 1, 'BRL': 1, 'YL': 1, 'OR/BK': 1, 'GH': 1, 'BK BL': 1, 'TNB': 1, 'TURGU': 1, 'CTR': 1, 'BL/WT': 1, 'DK/BL': 1, 'GOL/S': 1, 'BROWB': 1, 'B ROW': 1, 'BRT': 1, 'GYBLU': 1, 'BRGUY': 1, 'BURSU': 1, 'BRX': 1, 'GW': 1, 'GV': 1, 'TEAR': 1, 'GNBL': 1, 'CUIV,': 1, 'BROWM': 1, 'GY.': 1, 'GROWN': 1, 'BLACA': 1, 'BK/YW': 1, 'BLU/B': 1, 'BLU/W': 1, 'BLEE': 1, 'D GRA': 1, 'ISIU.': 1, 'RO': 1, 'ME/BE': 1, 'WH/BK': 1, 'BKWHT': 1, 'MACK': 1, 'W/B': 1, 'LT.BL': 1, 'SOVER': 1, 'UL': 1, 'BLWHI': 1, 'W BL': 1, 'BLUWT': 1, 'GLUE': 1, 'BUGY': 1, 'LGR-L': 1, 'NLK': 1, 'GRA': 1, 'FREIG': 1, 'BXC': 1, 'NOCLR': 1, 'YLL': 1, 'B,LUE': 1, 'SILE': 1, 'SI': 1, 'WHGY': 1, 'DK GR': 1, 'MR/': 1, 'METBL': 1, 'BVR': 1, 'BLK/W': 1, 'WBLUE': 1, 'BLUGR': 1, 'BMR': 1, 'NMW': 1, 'LBLUE': 1, 'BLUER': 1, 'GRBL': 1, 'GARY': 1, 'LB': 1, 'BIWH': 1, 'WHTIE': 1, 'WTH': 1, 'BK-GY': 1, 'AQUA': 1, 'CHRYS': 1, 'MITSU': 1, 'BROOM': 1, 'GYTN': 1, 'GLG': 1, 'BTWN': 1, ',XU': 1, 'GU': 1, 'BUNC': 1, 'RDWH': 1, 'BK/RD': 1, 'BIACK': 1, 'PL': 1, 'BLUEB': 1, 'MS': 1, 'NV BL': 1, 'MCY': 1, 'BKGR': 1, 'BLUG': 1, 'HYFON': 1, 'VVH': 1, 'M/COL': 1, 'INFI': 1, 'SLE': 1, 'NCLR': 1, 'PON': 1, 'BON': 1, 'GME': 1, 'BLIUE': 1, 'WI': 1, 'SIIVE': 1, 'WHBLU': 1, 'WHT B': 1, 'BWG': 1, 'BLUI': 1, 'IBK': 1, 'BKW': 1, 'LEMON': 1, 'BLUE.': 1, 'PD': 1, 'BL WT': 1, 'BKB': 1, 'BK-BL': 1, 'BK/': 1, 'GRAYU': 1, '/MMC': 1, 'BLMR': 1, 'LGBLU': 1, 'BL-BR': 1, 'DK': 1, 'NLACK': 1, 'GREYU': 1, 'BH': 1, 'SIK': 1, 'MARON': 1, 'BRONZ': 1, 'LT/BL': 1, 'BLUEY': 1, 'CHOKE': 1, 'SLVBL': 1, 'DKBWE': 1, 'INTER': 1, 'MA': 1, 'WHUTE': 1, 'BRWB': 1, 'BRI': 1, 'RD/': 1, 'AGUA': 1, 'RD-GR': 1, 'BLCKR': 1, 'BLKRE': 1, 'BKRD': 1, 'GEN': 1, 'NAV': 1, 'BLID': 1, 'FORD': 1, 'POL': 1, 'NY/BL': 1, 'YLW': 1, 'NO': 1, 'HYUND': 1, 'BLKJ': 1, 'BLKA': 1, 'BROAN': 1, 'PETER': 1, 'B;IE': 1, 'BLOCK': 1, 'GEY': 1, 'W/BL': 1, 'E': 1, 'PRBL': 1, 'MK': 1, 'B;U': 1, 'L BLU': 1, 'YELLW': 1, 'MARRO': 1, 'BLUSI': 1, 'BK.': 1, 'NY': 1, 'LGR': 1, 'LT. B': 1, 'BLACI': 1, 'GD': 1, 'BWWH': 1, 'SIILV': 1, 'LTPR': 1, 'BCT': 1, 'BLBR': 1, 'GREYS': 1, 'WTBLU': 1, 'BL-WH': 1, 'PINK': 1, 'GREY/': 1, 'NLCR': 1, 'BWM': 1, 'BLKQ': 1, 'BLUEW': 1, 'DARKG': 1, 'BDU': 1, 'BLKW': 1, 'BL-PR': 1, 'BRBL': 1, 'BRQ': 1, 'BLUUE': 1, 'BK WH': 1, 'BKJ': 1, 'BCK': 1, 'DKGRE': 1, 'WHE': 1, 'OICY': 1, 'ITN.V': 1, 'SWL': 1, 'DK/BU': 1, 'GEEN': 1, 'OWE': 1, 'SIR': 1, 'TER': 1, 'B/T': 1, 'DRBLU': 1, 'M/C': 1, 'MUILT': 1, 'BIUE.': 1, 'DKRD': 1, 'BRIGE': 1, 'MILTI': 1, 'R/D': 1, 'ORN': 1, 'GYT': 1, 'GY-TN': 1, 'GRIN': 1, 'GYGY': 1, 'BKGRE': 1, 'ISICR': 1, 'PLUM': 1, 'BRNW': 1, 'IN': 1}))

In [11]:
# Define initial mapping for color standardization.

mapping = {
    'GRY': 'GRAY',
    'GY': 'GRAY',
    'GY/': 'GRAY',
    'GYGY': 'GRAY',
    'GREY': 'GRAY',
    'SILVE': 'SILVER',
    'SILV': 'SILVER',
    'SILVR': 'SILVER',
    'SLV': 'SILVER',
    'W': 'WHITE',
    'WH': 'WHITE',
    'WH/': 'WHITE',
    'WHT': 'WHITE',
    'WT': 'WHITE',
    'WHI': 'WHITE',
    'BK': 'BLACK',
    'BLK': 'BLACK',
    'RD': 'RED',
    'RD/': 'RED',
    'TN': 'TAN',
    'GL': 'GOLD',
    'GD': 'GOLD',
    'GLD': 'GOLD',
    'GR': 'GREEN',
    'GRN': 'GREEN',
    'GN': 'GREEN',
    'BLU': 'BLUE',
    'YW': 'YELLOW',
    'YL': 'YELLOW',
    'YELLO': 'YELLOW',
    'YELL': 'YELLOW',
    'YEL': 'YELLOW',
    'BN': 'BROWN',
    'BR': 'BROWN',
    'BRN': 'BROWN',
    'BRWN': 'BROWN',
    'BRW': 'BROWN',
    'BRO': 'BROWN',
    'BRON': 'BROWN',
    'BROW': 'BROWN',
    'ORANG': 'ORANGE',
    'OR': 'ORANGE',
    'MAROO': 'MAROON',
    'MR': 'MAROON',
    'MARRO': 'MAROON',
    'MA': 'MAROON',
    'MAR': 'MAROON',
    'MARO': 'MAROON',
    'MARON': 'MAROON',
    'MAIOO': 'MAROON',
    'MARN': 'MAROON',
    'PURPL': 'PURPLE',
    'LAVEN': 'LAVENDER'
}

In [12]:
# Apply update operation on current dataset snapshot in a first
# iteration for standardizing color values.

import time

from openclean.function.value.mapping import Standardize
from openclean.operator.transform.update import Update

start_update = time.perf_counter()

db.apply(name='vehicle_data', operations=Update('Vehicle Color', Standardize(mapping)))

end_update = time.perf_counter()

print('Update time {:0.4f} sec.'.format(end_update - start_update))

Update time 760.6810 sec.

In [14]:
db.stream('vehicle_data').head()

  Plate ID State Plate Type Violation Code Vehicle Color
0  FCJ5493    NY        PAS             20         BLACK
1  63540MC    NY        COM             46         BROWN
2  GCY4187    NY        SRF             21          BLUE
3  95V6675    TX        PAS             21        SILVER
4  FYM5117    NY        SRF             21         WHITE
5  GFM1421    NY        PAS             40         BLACK
6  18972BB    NY        999             14        YELLOW
7  WNJ4730    VA        PAS             14         BLACK
8  68091JZ    NY        COM             46         WHITE
9  EWV4127    NY        PAS             21          GRAY

In [15]:
colors = db.stream('vehicle_data').distinct('Vehicle Color')

In [16]:
len(colors)

2777

In [17]:
colors.most_common(50)

[('WHITE', 2591111),
 ('GRAY', 1717606),
 ('BLACK', 1669913),
 ('RED', 535379),
 ('BL', 441801),
 ('GREEN', 362989),
 ('BROWN', 360524),
 ('SILVER', 319746),
 ('BLUE', 305936),
 ('TAN', 202539),
 ('YELLOW', 115890),
 ('GOLD', 105177),
 ('OTHER', 91292),
 ('MAROON', 32691),
 ('ORANGE', 24231),
 ('LTG', 13094),
 ('PURPLE', 7691),
 ('LT/', 7191),
 ('SL', 6985),
 ('DK/', 6170),
 ('SIL', 6070),
 ('DKG', 5953),
 ('PR', 4769),
 ('DKB', 3251),
 ('LTGY', 2217),
 ('BLG', 1599),
 ('BEIGE', 1585),
 ('RD/', 1562),
 ('LAVENDER', 1548),
 ('LTB', 1501),
 ('W', 1489),
 ('DKR', 1391),
 ('NOC', 1250),
 ('BURG', 1128),
 ('DKGY', 919),
 ('GLD', 901),
 ('WHB', 832),
 ('WHBL', 745),
 ('SLVR', 739),
 ('BL/', 698),
 ('WHG', 691),
 ('SLV', 657),
 ('GYGY', 631),
 ('R', 595),
 ('BG', 588),
 ('DKBL', 574),
 ('MAR', 547),
 ('LTT', 540),
 ('BKGY', 539),
 ('G', 507)]

In [2]:
# Get remaining conflicts.

from openclean.operator.map.violations import fd_violations

df = db.stream('vehicle_data')\
    .select(['Plate ID', 'State', 'Vehicle Color'])\
    .to_df()

groups = fd_violations(df, lhs=['Plate ID', 'State'], rhs='Vehicle Color')

In [3]:
len(groups.keys())

369163

In [15]:
# Show examples for vehicles that still occur in the dataset with
# different colors.

for key in list(groups.keys())[:10]:
    print(groups.get(key))
    print('\n')

        Plate ID State Vehicle Color
4488344   4588FR    SC        SILVER
4615802   4588FR    SC          GRAY
5982050   4588FR    SC          GRAY


        Plate ID State Vehicle Color
1595218  CRV4979    NY          GRAY
2823170  CRV4979    NY          GRAY
4779191  CRV4979    NY        SILVER
5747964  CRV4979    NY          GRAY
7839153  CRV4979    NY          GRAY


        Plate ID State Vehicle Color
1479886   818ZRW    CT         BLACK
4915109   818ZRW    CT          BLCK


        Plate ID State Vehicle Color
2810347  GGU3729    NY         BLACK
4380630  GGU3729    NY            BL
5369809  GGU3729    NY         BLACK


        Plate ID State Vehicle Color
3097236   RXU73S    NJ           TAN
6179193   RXU73S    NJ          GRAY


        Plate ID State Vehicle Color
322377   GHP4131    NY            BL
1029550  GHP4131    NY            BL
1033857  GHP4131    NY          BLUE
3969624  GHP4131    NY            BL
6398074  GHP4131    NY            BL


        Plate ID State Vehicle Color
5341994  JFJ8188    PA         BLACK
6600938  JFJ8188    PA          BLUE
6602610  JFJ8188    PA          BLUE
6644362  JFJ8188    PA          BLUE


         Plate ID State Vehicle Color
1239879  T513007C    NY         GREEN
1710120  T513007C    NY         GREEN
3850983  T513007C    NY         GREEN
4105278  T513007C    NY         BLACK
4288307  T513007C    NY         GREEN
4366457  T513007C    NY         GREEN


        Plate ID State Vehicle Color
1545444  EEY8428    NY          GRAY
3322159  EEY8428    NY          GRAY
3539201  EEY8428    NY           TAN
5848201  EEY8428    NY           TAN
6595389  EEY8428    NY           TAN


        Plate ID State Vehicle Color
2909903  EKF4268    NY           TAN
3605720  EKF4268    NY          GOLD
7434012  EKF4268    NY          GOLD

In [4]:
# Resolve conflicts for groups where exactly one value from a set of
# ground truth values (i.e., valid colors) occurs with other values
# that are not in the ground truth set. In these cases we replace all
# color values in the group with the value from the ground truth set.


COLORS = {
    'WHITE',
    'GRAY',
    'BLACK',
    'RED',
    'GREEN',
    'BROWN',
    'SILVER',
    'BLUE',
    'TAN',
    'YELLOW',
    'GOLD',
    'MAROON',
    'ORANGE',
    'PURPLE',
    'BEIGE',
    'LAVENDER'
}


group_mapping = dict()

for key in groups.keys():
    values = groups.values(key=key, columns='Vehicle Color')
    gt_values = [v for v in values if v in COLORS]
    if len(gt_values) == 1:
        group_mapping[key] = gt_values[0]

In [5]:
print('{} groups in mapping.\n'.format(len(group_mapping)))

for key in list(group_mapping.keys())[:10]:
    print('{} = {}'.format(key, group_mapping[key]))
print('...')

95432 groups in mapping.

('76335JW', 'NY') = WHITE
('A27DJM', 'NJ') = BLACK
('GKZ9970', 'PA') = BLACK
('818SXP', 'CT') = SILVER
('GAM1251', 'NY') = BLUE
('607ZGS', 'CT') = RED
('FFV8361', 'NY') = WHITE
('GMX3474', 'NY') = BLUE
('DMM8235', 'NY') = GRAY
('GLV5699', 'NY') = BLACK
...

In [12]:
groups.get(('818SXP', 'CT'))

        Plate ID State Vehicle Color
6473594   818SXP    CT         OTHER
7268977   818SXP    CT        SILVER

In [20]:
# Apply update operation on current dataset snapshot in a first
# iteration for standardizing color values.

import time

from openclean.function.eval.base import Col
from openclean.function.eval.domain import Lookup
from openclean.operator.transform.update import Update

start_update = time.perf_counter()

func = Lookup(columns=['Plate ID', 'State'], mapping=group_mapping, default=Col('Vehicle Color'))
db.apply(name='vehicle_data', operations=Update('Vehicle Color', func=func))

end_update = time.perf_counter()

print('Update time {:0.4f} sec.'.format(end_update - start_update))

Update time 844.0253 sec.

In [21]:
colors = db.stream('vehicle_data').distinct('Vehicle Color')

In [22]:
len(colors)

2109

In [24]:
colors.most_common(125)

[('WHITE', 2605597),
 ('GRAY', 1748009),
 ('BLACK', 1697283),
 ('RED', 545345),
 ('BLUE', 437059),
 ('GREEN', 371324),
 ('BROWN', 362548),
 ('SILVER', 327988),
 ('BL', 276686),
 ('TAN', 205121),
 ('YELLOW', 116515),
 ('GOLD', 107407),
 ('OTHER', 59468),
 ('MAROON', 33813),
 ('ORANGE', 24557),
 ('LTG', 8903),
 ('PURPLE', 8476),
 ('LT/', 4974),
 ('SL', 4969),
 ('SIL', 3969),
 ('DK/', 3814),
 ('DKG', 3645),
 ('PR', 3360),
 ('DKB', 1800),
 ('BEIGE', 1613),
 ('LTGY', 1611),
 ('LAVENDER', 1596),
 ('LTB', 1025),
 ('DKR', 886),
 ('BLG', 852),
 ('DKGY', 670),
 ('BURG', 632),
 ('BL/', 474),
 ('SLVR', 460),
 ('WHBL', 443),
 ('NOC', 438),
 ('BG', 436),
 ('R', 421),
 ('LTT', 402),
 ('DKBL', 394),
 ('BWN', 392),
 ('GYW', 366),
 ('WHO', 316),
 ('BKG', 307),
 ('G', 296),
 ('BURGU', 277),
 ('WHG', 265),
 ('GYT', 252),
 ('WHR', 230),
 ('BKGY', 229),
 ('WHB', 228),
 ('BLW', 218),
 ('BK/', 211),
 ('BW', 209),
 ('B', 198),
 ('BKW', 198),
 ('NO', 195),
 ('PK', 194),
 ('BLGY', 192),
 ('LT-GY', 189),
 ('LTBL', 183),
 ('GRW', 179),
 ('DKGR', 177),
 ('DKRD', 174),
 ('ORG', 171),
 ('BGE', 171),
 ('MULTI', 160),
 ('GR/', 160),
 ('LTGR', 155),
 ('WHGY', 148),
 ('RDG', 144),
 ('UNK', 143),
 ('WHIT', 140),
 ('GYB', 138),
 ('BURGA', 130),
 ('GRG', 125),
 ('SIVLE', 123),
 ('BLWH', 119),
 ('RDW', 119),
 ('BLCK', 115),
 ('GYBL', 114),
 ('PINK', 110),
 ('MN', 110),
 ('RDB', 108),
 ('NOCL', 106),
 ('GYGR', 100),
 ('ORW', 100),
 ('BLGR', 93),
 ('TNG', 93),
 ('UNKNO', 90),
 ('BIEGE', 88),
 ('PUR', 88),
 ('BKBL', 87),
 ('DKP', 86),
 ('LTTN', 82),
 ('GYG', 82),
 ('RDGY', 80),
 ('BUR', 77),
 ('SLR', 76),
 ('GRT', 72),
 ('WHTE', 71),
 ('BKB', 68),
 ('WH-BL', 67),
 ('DK-GY', 67),
 ('TEAL', 66),
 ('BIK', 62),
 ('GRE', 61),
 ('PURP', 61),
 ('WH/BL', 60),
 ('GRGY', 57),
 ('BM', 56),
 ('BKR', 56),
 ('GYTN', 54),
 ('DKT', 54),
 ('DBL', 53),
 ('GREN', 51),
 ('WTE', 51),
 ('BLB', 50),
 ('YWB', 50),
 ('DKM', 49),
 ('LTBR', 48),
 ('TNGY', 46),
 ('SI', 45),
 ('SLIVE', 45),
 ('NCLR', 45)]